{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<h2>[[$APP_NAME]] Help</h2>
<h4>Github support & tutorials</h4>
<div class='alert {{IF [[toggledarkmode]] > 0}}alert-primary{{ELSE}}alert-neutral{{ENDIF}}'>
  <a href="https://github.com/GiladLeef/BitForces/issues/new" target="_blank">Open a ticket</a><br>
  <a href="https://github.com/GiladLeef/BitForces/" target="_blank">View tutorials</a>
</div>
<h4>Community help</h4>
<div class='alert {{IF [[toggledarkmode]] > 0}}alert-primary{{ELSE}}alert-neutral{{ENDIF}}'>
  <a href="https://t.me/BitForces" target="_blank">Telegram Group</a><br>
</div>
{%TEMPLATE->struct/foot%}
